@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<form action="/Movies/New">
    <input type="submit" value="New Movie" class="btn btn-primary" />
</form>

<p></p>

@if (!Model.Any())
{
    <p>There are no movies yet</p>
}
else
{
    <table class="table table-bordered table-hover">
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>

        @foreach (var movie in Model)
        {
    <tr>
        <th>
            @Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)
        </th>
        <th style="font-weight:normal">
            @movie.MovieGenre.Genre
        </th>
    </tr>

        }
    </table>
}

